.top-brands{
    padding-top: 30px;
}

.top-brands-cover {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    background-color: var(--primary-bg);
    border: 1px solid var(--border-white);
}

.top-brand-image{
    border-radius: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
}